
@page
@model QLSP.Pages.MH_TaoLoaiHangModel
@{
}

@Model.ChuoiThongBao
<form method="POST">

  <label for="TenLoaiHangX">Tên loại hàng:</label><br>
  <input type="text" id="TenLoaiHangX" name="TenLoaiHangX"><br>
   <input type="submit" value="Tạo sản phẩm"/>
   

</form>
