@page
@model QLSP.Pages.MH_XoaHoaDonBanModel
@{
}

<div>
    <p>Bạn có muốn xóa hóa đơn bán @Model.HoaDonBanCanXoa.MaHoaDonBan</p>
</div>

<form method="POST">
  <input type="submit" class="btn btn-danger w-20" value="Xóa"/>
</form>
