@page
@model QLSP.Pages.MH_XoaLoaiHangModel
@{
}

<div>
    <p>Ban co muon xoa loai ahng @Model.LoaiHangCanXoa.TenLoaiHang</p>
</div>

<form method="POST">
  <input type="submit" value="Xoa"/>
</form>
